# This file is part of the WordPress Standard project.
#
# Copyright (c) 2015-present LIN3S <info@lin3s.com>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#
# @author Gorka Laucirica <gorka.lauzirika@gmail.com>
# @author Beñat Espiña <benatespina@gmail.com>

.editorconfig
.htaccess
.lin3s_cs.yml
/bin
/core
/robots.txt
/src/plugins
/src/uploads
/src/languages
/vendor
/wp-config-custom.php
/src/advanced-cache.php
# Capistrano
/log
# W3TC
/src/cache
/src/db.php
/src/object-cache.php
/src/w3tc-config
