# This file is part of the WordPress Standard project.
#
# Copyright (c) 2015-present LIN3S <info@lin3s.com>
#
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code.
#
# @author Beñat Espiña <benatespina@gmail.com>

parameters:
    enabled:
        - phpcsfixer

    name: WordPress Standard
    type: project
    year: 2018
    author: LIN3S
    email: info@lin3s.com
    version: 0.1

    phpcsfixer_path: src
    phpcsfixer_test_path: tests
    phpcsfixer_file_location: vendor/lin3s/cs/src/LIN3S/CS/
