<div class="bengor-cookies js-bengor-cookies">
    <div class="bengor-cookies__content">
        <p class="bengor-cookies__text">
            <strong>{{ trans('Use of cookies') }}</strong>
        </p>
        <p class="bengor-cookies__text">
            {{ trans('This website uses cookies when a user browses through its web pages. Cookies used by the website
            are files sent to a web browser via a web server to record the activities of users on the website and
            allow more fluid, personalised browsing.') }}
            <a href="/your-awesome-bengor-cookies-policy" class="bengor-cookies__link" target="_blank">
                Cookies policy
            </a>.
        </p>
    </div>
    <div class="bengor-cookies__actions">
        <a class="bengor-cookies__button">{{ trans('Accept')}}</a>
    </div>
</div>
