<div class="cookies">
    <div class="cookies__content">
        <p class="cookies__text"><strong>{{ trans('Use of cookies') }}</strong></p>
        <p class="cookies__text">{{ trans('This website uses cookies when a user browses through its web pages.
            Cookies used by the website are files sent to a web browser via a web server to record the activities
            of users on the website and allow more fluid, personalised browsing.') }}
    </div>
    <div class="cookies__actions">
        <a class="button">{{ trans('Accept')}}</a>
    </div>
</div>
