<div class="cookies">
    <div class="cookies__content">
        {{ trans('
        <p><strong>Use of cookies</strong></p>
        <p>This website uses cookies when a user browses through its web pages. Cookies used by the website
            are files sent to a web browser via a web server to record the activities of users on the website
            and allow more fluid, personalised browsing.
            <a href="/legal-notice">Read more</a></p>
        ')}}
    </div>
    <div class="cookies__actions">
        <a class="button">{{ trans('Accept')}}</a>
    </div>
</div>
